* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/ascent.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header.top-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    background-color: beige;

    & > h2 {
        display: flex;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 1000;
        text-decoration: none;
    }

    & > a {
        align-items: center;
        border: 1px transparent;
        text-decoration: none;
        transition: all .2s cubic-bezier(.22, .61, .36, .1);
        touch-action: manipulation;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
        padding: 1rem 2rem;
        position: relative;
        top: 0;
        color: black;

        &:hover {
            box-sizing: border-box;
            background-color: white;
            color: black;
            box-shadow: gray;
            transform: translateY(-2px);
        }
    }
}

div.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > div.first-description {
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid rgba(245, 245, 245, 0.212);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        width: 20%;
        padding: 2rem;
    }

    & > div.icon {
        display: flex;
        justify-content: center;
        text-align: center;

        & > img {
            height: 625px;

            &:hover {
                transform: translateX(-50px);
                transition: all 0.3s ease;
            }
        }
    }

    & > div.second-description {
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 2px solid rgba(245, 245, 245, 0.212);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        width: 20%;
        padding: 2rem;
    }
}