* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/1311265.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header.top-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    background-color: transparent;

    & > h2 {
        display: flex;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 1000;
        text-decoration: none;
    }

    & > a {
        align-items: center;
        border: 1px transparent;
        text-decoration: none;
        transition: all .2s cubic-bezier(.22, .61, .36, .1);
        touch-action: manipulation;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
        padding: 1rem 2rem;
        position: relative;
        top: 0;
        color: white;

        &:hover {
            box-sizing: border-box;
            background-color: white;
            color: black;
            box-shadow: gray;
            transform: translateY(-2px);
        }
    }
}

div.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
    padding-top: 3rem;

    & > div.first-card {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30rem;
        & > img {
            height: 150px;
        }

        & > p.first-description {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 2px solid rgba(245, 245, 245, 0.212);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            width: 20%;
            padding: 2rem;
        }
    }

    & > div.second-card {
        display: flex;
        justify-content: flex-start;
        padding-left: 25rem;
        align-items: center;
        & > img {
            height: 150px;
        }

        & > p.second-description {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 2px solid rgba(245, 245, 245, 0.212);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            width: 20%;
            padding: 2rem;
        }
    }

    & > div.third-card {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30rem;
        & > img {
            height: 100px;
        }

        & > p.third-description {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 2px solid rgba(245, 245, 245, 0.212);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            width: 20%;
            padding: 2rem;
        }
    }

    & > div.fourth-card {
        display: flex;
        justify-content: flex-start;
        padding-left: 25rem;
        align-items: center;
        & > img {
            height: 100px;
        }

        & > p.fourth-description {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 2px solid rgba(245, 245, 245, 0.212);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            width: 20%;
            padding: 2rem;
        }
    }

    & > div.fifth-card {
        display: flex;
        justify-content: flex-end;
        padding-right: 30rem;
        align-items: center;
        & > img {
            height: 100px;
        }

        & > p.fifth-description {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border: 2px solid rgba(245, 245, 245, 0.212);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            width: 20%;
            padding: 2rem;
        }
    }
}

