* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/hinata.jpg);
    background-position: cover;
    background-repeat: no-repeat;
}

header.top-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    background-color: beige;

    & > h2 {
        display: flex;
        flex-direction: column;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 1000;
        text-decoration: none;
    }

    & > a {
        align-items: center;
        border: 1px transparent;
        text-decoration: none;
        transition: all .2s cubic-bezier(.22, .61, .36, .1);
        touch-action: manipulation;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
        padding: 1rem 2rem;
        position: relative;
        top: 0;
        color: black;

        &:hover {
            box-sizing: border-box;
            background-color: white;
            color: black;
            box-shadow: gray;
            transform: translateY(-2px);
        }
    }
}

div.content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    & > div.title {
        display: flex;
        text-align: center;
        padding-right: 10rem;
        justify-content: flex-end;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    & > div.description {
        display: flex;
        width: 30%;
        justify-content: flex-end;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        & > p {
            display: flex;
        }
    }
}